
  /* Style the navbar */
#navbar {
  position: absolute;
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#daily-basis-inside-dhaka {
  display: none;
}

#daily-basis-outside-dhaka {
  display: none;
}

#booking-selector-back {
  display: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.cr-search-button {
  margin-top: 10px;
}

.price {
  display: none !important ;
}


.mapview { 
  /* position: absolute;
  top: 0;
  bottom: 0; */
  width: auto;
  min-height: 400px;
}

/* #chakaride-add-to-cart {
  pointer-events: none;
  opacity: 0.4;
} */

.btn {
  background-color: #EC1C24 !important;
  border-color: #EC1C24 !important;
}

.booking-type-button {
  height: 100px;
  width: 300px;
  margin: 10px;
  background-color: #EC1C24;
  color: #ffffff;
  border-radius: 7px;
}

@media only screen and (max-width: 600px) {
  .booking-type-button {
    height: 70px;
    width: 300px;
    margin: 10px;
  }
  
}


/* #cr-booking-form{
  display: none;
}

#chakaride-add-to-cart{
  display: none;
} */


.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  /* background-color: #2196F3; */
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}